@model PII.ViewModels.PersonViewModel
@{
    ViewBag.Title = "PersonForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("PersonForm", "Person"))
{
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Personal Data Sheet</h4>
                </div>
                <div class="card-body">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group-sm">
                                    <div class="row">
                                        <label class="col-sm-3 control-label">
                                            @Html.LabelFor(m => m.Person.LastName)
                                        </label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(m => m.Person.LastName, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-3 control-label">
                                            @Html.LabelFor(m => m.Person.FistName)
                                        </label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(m => m.Person.FistName, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group-sm">
                                            <label class="col-sm-3 control-label">
                                                @Html.LabelFor(m => m.Person.MiddleName)
                                            </label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(m => m.Person.MiddleName, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="form-group-sm">
                                                    <label class="col-sm-3 control-label">
                                                        @Html.LabelFor(m => m.Person.NameExtension)
                                                    </label>
                                                    <div class="col-sm-3">
                                                        @Html.DropDownListFor(m => m.Person.NameExtension, new SelectList(Model.Suffixes, "Id", "Type"), "Suffix", new { @class = "form-control input-sm" })
                                                    </div>
                                                    <div class="col-sm-3 control-label">
                                                        @Html.LabelFor(m => m.Person.DateOfBirth)
                                                    </div>
                                                    <div class="col-sm-3">
                                                        @Html.TextBoxFor(m => m.Person.DateOfBirth, "{0:MMM d yyyy}", new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group-sm">
                                            <label class="col-sm-3 control-label">
                                                @Html.LabelFor(m => m.Person.Gender)
                                            </label>
                                            <div class="col-sm-3">
                                                @Html.DropDownListFor(m => m.Person.Gender, new SelectList(Model.Genders, "Type", "Type"), new { @class = "form-control" })
                                            </div>

                                            <label class="col-sm-3 control-label">
                                                @Html.LabelFor(m => m.CivilStatus)
                                            </label>
                                            <div class="col-sm-3">
                                                @Html.DropDownListFor(m => m.Person.CivilStatus, new SelectList(Model.CivilStatus, "Status", "Status"), new { @class = "form-control input-sm" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group-sm">
                                            <div class="col-sm-3 control-label">
                                                @Html.LabelFor(m => m.Person.PlateOfBirthAddressId)
                                            </div>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(m => m.Person.PlateOfBirthAddressId, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group-sm">
                                            <label class="col-sm-3 control-label">
                                                @Html.LabelFor(m => m.Person.EmailAddress)
                                            </label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(m => m.Person.EmailAddress, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="row">
                                    <div class="form-group-sm float-right">
                                        <img class="img-thumbnail" style="width: 140px; height: 140px;" alt="140x140" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNDAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIG1lZXQiIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48IS0tClNvdXJjZSBVUkw6IGhvbGRlci5qcy8xNDB4MTQwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPiNob2xkZXJfMTY1OGI3MzE5OGUgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0IH0gPC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNjU4YjczMTk4ZSI+PHJlY3QgZmlsbD0iI2VlZWVlZSIgd2lkdGg9IjE0MCIgaGVpZ2h0PSIxNDAiIC8+PGc+PHRleHQgeD0iNDQuMDY1IiB5PSI3NC41OTkiPjE0MHgxNDA8L3RleHQ+PC9nPjwvZz48L3N2Zz4=" data-src="holder.js/140x140" data-holder-rendered="true">
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="row">
                                    <div class="form-group-sm">
                                        <label class="col-sm-6 control-label">
                                            @Html.LabelFor(m => m.Person.Height)
                                        </label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(m => m.Person.Height, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group-sm">
                                        <label class="col-sm-6 control-label">
                                            @Html.LabelFor(m => m.Person.Weight)
                                        </label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(m => m.Person.Weight, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group-sm">
                                        <label class="col-sm-6 control-label">
                                            @Html.LabelFor(m => m.Person.BloodType)
                                        </label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(m => m.Person.BloodType, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="row">
                                    <div class="form-group-sm">
                                        <label class="col-sm-6 control-label">
                                            @Html.LabelFor(m => m.Person.GsisNo)
                                        </label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(m => m.Person.GsisNo, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group-sm">
                                        <label class="col-sm-6 control-label">
                                            @Html.LabelFor(m => m.Person.TinNo)
                                        </label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(m => m.Person.TinNo, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group-sm">
                                        <label class="col-sm-6 control-label">
                                            @Html.LabelFor(m => m.Person.SssNo)
                                        </label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(m => m.Person.SssNo, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group-sm">
                                        <label class="col-sm-6 control-label">
                                            @Html.LabelFor(m => m.Person.PhilhealthNo)
                                        </label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(m => m.Person.PhilhealthNo, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="row">
                                    <div class="form-group-sm">
                                        <label class="col-sm-6 control-label">
                                            @Html.LabelFor(m => m.Person.PagibigNo)
                                        </label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(m => m.Person.PagibigNo, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group-sm">
                                        <label class="col-sm-6 control-label">
                                            @Html.LabelFor(m => m.Person.MobileNo)
                                        </label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(m => m.Person.MobileNo, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group-sm">
                                        <label class="col-sm-6 control-label">
                                            @Html.LabelFor(m => m.Person.TelephoneNo)
                                        </label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(m => m.Person.TelephoneNo, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group-sm">
                                        <label class="col-sm-6 control-label">
                                            @Html.LabelFor(m => m.Person.AgencyEmployeeNo)
                                        </label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(m => m.Person.AgencyEmployeeNo, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="btn btn-default btn-sm float-right">
                            @Html.ActionLink("Save", "Details", "PersonalInformation", new { id = @Model.Person.Id }, null)
                        </div>
                    </form>

                </div>
            </div>

        </div>

    </div>

}